@media screen and (max-width: 720px) {
  .site-works {
    display: none;
  }
}

.side-anon {
  overflow: hidden;
  position: absolute;
  z-index: -9999;
}

.site-body {
  background-color: #161616;
  color: #cccccc;
  margin: 0px;
}

.site-content {
  font-family: 'Noto Sans JP', sans-serif;
}

.site-logo-text {
  font-family: serif;
  font-size: 100px;
  text-align: center;
}

.site-label-text {
  font-family: serif;
  font-size: 50px;
  text-align: center;
}

.site-introduction-container {
  margin-top: 50px;
  padding-bottom: 50px;
}

.site-introduction {
  background-color: #151515;
}
.site-works {
  display: flex;
  background-color: #191919;
}

.bullet-container{
  float: left;
  margin-right: 10px;
}

.image-container {
  float: left;
}

.default-bullet{
  background-color: #ececec;
} 

.site-bullet-text {
  margin-right: 20px;
}

.container-list {
  margin-top: 10px;
  padding-bottom: 20px;
}

.site-headline {
  font-family: serif;
  font-size: 50px;
}

.site-content-container {
  padding: 24px;
  max-width: 550px;
}

.site-default-text {
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
}

.site-footer {
  background-color: black;
  margin: 0;
  text-align: center;
}

.footer-anonymous-icon {
  width: 15%;
  height: auto;
}

.footer-main-context {
  font-family: "微软雅黑","宋体";
  font-size: 0.8rem;
}
